@tailwind base;
@tailwind components;
@tailwind utilities;

/* FullCalendar Custom Styles */
.fc-button-primary {
  background-color: #dc2626 !important;
  border-color: #dc2626 !important;
  color: #ffffff !important;
}

.fc-button-primary:hover {
  background-color: #b91c1c !important;
  border-color: #b91c1c !important;
}

.fc-button-primary:focus {
  box-shadow: none !important;
}

.fc-button-primary:not(:disabled):active {
  background-color: #991b1b !important;
  border-color: #991b1b !important;
}

.fc-button-primary:disabled {
  background-color: #fca5a5 !important;
  border-color: #fca5a5 !important;
  color: #ffffff !important;
}

.fc-col-header-cell div {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100% !important;
}

.fc-list-day th .fc-list-day-cushion {
  background-color: #dc2626 !important;
  color: #fff !important;
  opacity: 1 !important;
}
